<style>
  table {
    border-collapse: collapse;
    width: 70%;
  }

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  .negrito>td {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #3d3d3d;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<h1>Listagem</h1>

<table>
  <thead>
    <tr class="negrito">
      <td>Áreas de Interesse</td>
    </tr>
    <hr>
  </thead>
  <tbody *ngIf="cursos$ | async as curso">
    <tr *ngFor="let item of curso.areas">
      <td>{{ item.nome }}</td>
    </tr>
  </tbody>
  <thead>
    <tr class="negrito">
      <td>Processo Seletivos</td>
    </tr>
    <hr>
  </thead>
  <tbody *ngIf="processos$ | async as processo">
    <tr *ngFor="let item of processo.processos">
      <td>{{ item.nome }}</td>
    </tr>
  </tbody>  
</table>